html{
box-sizing: border-box;
}
*{
  margin: 20px;
}
body {
    background-color: rgb(231, 220, 170);
}
.header {
  text-align: left;
    min-height: 200px;
  height: auto;
  margin-right: auto;
    margin-left : auto;
    border-radius: 0px 70px 0px 70px;
}
.profile {
  padding: 10px 0px;
    height: auto;
  min-height: 200px;
    width: 1200px;
    margin-right: auto;
    margin-left : auto;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
  
}
.main {
    text-align: center;
    height: auto;
  min-height: 800px;
    width: 1200px;
    margin-right: auto;
    margin-left : auto;
    background-color: #FFD066;
    border-radius: 20px 20px 20px 20px;
}

.profile p{
  position: absolute;
  padding-left: 0px;
  line-height: 10px;
    font-size: 30px;
}
pre {
  font-size: 30px;
  padding-top: 60px;
}
.p-title p{
    font-size: 45px;
}
.footer {
    height: 80px;
    background-color: black;
}
.header h1{
  position: absolute;
    float: left;
  font-size: 60px;
    font-family: sans-serif;
    color: gray;
}
.header-list {
    float: right;
    font-size: 30px;
    padding-top: 50px;
    padding-right: 30px;
}
.main p{
    font-size: 80px;
    font-family: serif;
}
.work {
    font-size: 50px;
}
.work img{
    width: 50%;
    height: auto;
}
